<%= form_for(current_user.user_game_relations.build(game_id: @game.id), remote: true) do |f| %>
    <div>
      <%= f.hidden_field :game_id %>
    </div>
    <%= f.submit "Like", class: "btn btn-large btn-primary" %>
<% end %>