<footer class="footer">
  <small>
    <a href="http://dota.sgamer.com/">Game Portal</a>
    by Weilong Wang
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://dota.sgamer.com/">News</a></li>
    </ul>
  </nav>
</footer>